/* Cart.css */

.cart-container {
  margin: 20px;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 100px;
}

.cart-table th,
.cart-table td {
  padding: 10px;
  text-align: center;
}

.cart-table th {
  background-color: #f2f2f2;
}

.stock-logo {
  width: 50px;
  height: 50px;
}

.cart-row:nth-child(even) {
  background-color: #f2f2f2;
}

.total-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 150px;
}

.total-price span {
  margin-left: 10px;
  ;
}

.add-portfolio{
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 280px;;
  height: 50px;
  cursor: pointer;
}
.add-portfolio:hover{
 
  text-decoration: underline;
  border: solid rgb(196, 194, 194) 1px;
  color:rgba(50, 50, 50, 0.9);
}