:root {
  --main-backgrouncolor: rgb(12, 89, 104);
}
.stock-details-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 12px;
  margin: 14px;
}
.stock-details-back-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  background-color: var(--main-backgrouncolor);
  color: white;
  width: 10rem;
  ;
  padding: 4px;
  ;
  height: 34px;
}
.stock-details-title {
    font-size: 1.5rem;
    ;
}
.name-stock-details {
    font-size: 1.4rem;
    padding-bottom: 15px;
    ;
    ;
}
.stock-details-details {
    font-size: 1.1rem;
    margin-top: 20px;
    max-width: 950px;
   
}
.website-stock-details {
    font-size: large;
    background-color: var(--main-backgrouncolor);
    color: white;
    width: auto;
    padding:  4px 14px 4px 14px;
    border-radius: 4px;
    ;
}