.stocks-container {
  margin: 20px;
}

.stocks-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 100px;
  ;
}

.stocks-table th,
.stocks-table td {
  padding: 10px;
  text-align: center;
}

.stocks-table th {
  background-color: #f2f2f2;
}

.stock-logo {
  width: 50px;
  height: 50px;
}

.stock-row:nth-child(even) {
  background-color: #f2f2f2;
}

.button-handleStockPurchase {
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 5px;


  ;
}
.button-handleStockPurchase:hover{
  font-size: larger;
  color: green;
}