:root {
  --main-backgrouncolor: rgb(12, 89, 104);
}
.stock-details-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 12px;
  margin-left: 14px;
}
.stock-details-back-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  background-color: var(--main-backgrouncolor);
  color: white;
  width: 34%;
  height: 34px;
}

.name-stock-details {
    font-size: 1.4rem;
    padding-bottom: 15px;
    ;
    ;
}
.stock-details-details {
    font-size: 1rem;
    margin-bottom: 50px;
    
    ;
}