:root {
  --main-backgrouncolor: rgb(12, 89, 104);
}
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}
.link-containers a {
  font-size: 1.5rem;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-backgrouncolor);
  height: 90px;
  gap: 5px;
}
.active {
  text-decoration: underline;
}
.portfolio,
.stocks,
.reits,
.bonds,
.cart {
  padding: 3px 13px 13px 3px;
  color: white;
}

.home {
  padding: 0;
}

.cart {
  font-size: 1.6rem;
  margin-top: 10px;
}
.image-home-icon {
  width: 90px;
  color: #333;
}
.Home-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 250px;
}
.h1-home {
  font-size: 1.5rem;
  margin: 25px 25px;
}

.home-div-container {
  display: flex;
  max-width: 1200px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 14px;
}
.home-link {
  border-radius: 5px;
  min-width: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 0 0 0 14px;
  text-decoration: none;
  font-size: 2rem;
  width: 45%;
  color: white;
  height: 150px;
  border: #333 1px solid;
}
.stocks-home {
  max-width: 450px;
  font-size: 2.4rem;
  background-image: url("./images/stock_background.png");
  background-size: cover;
  background-position: center center;
  object-fit: cover;
}

.portfolio-home {
  max-width: 450px;
  font-size: 2.4rem;
  background-image: url("./images/portfolio_background.png");
  background-size: cover;
  background-size: contain;
  background-position: center center;
  object-fit: cover;
}

.bonds-home {
  max-width: 450px;
  font-size: 2.4rem;
  background-image: url("./images/bonds_background.png");
  background-size: cover;
  background-size: contain;
  background-position: center center;
  object-fit: cover;
}

.reits-home {
  max-width: 450px;
  font-size: 2.4rem;
  background-image: url("./images/reits_background.png");
  background-size: cover;
  background-size: contain;
  background-position: center center;
  object-fit: cover;
}
/* Footer.css */
footer {
  padding: 10px;
  text-align: center;
  color: white;

  background-color: var(--main-backgrouncolor);
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: large;
  width: 100%;
  text-decoration: none;
}

.git-icon {
  color: white;
  font-size: 1.1rem;
  margin-top: 4px;
}



/*  small screens: */
@media (max-width: 550px) {
  .image-home-icon {
    width: 50px;
  }
  .link-containers a {
    font-size: 1rem;
  }
  .navbar-container {    
    gap: 1px;
  }
}