* {
  padding: 0;
  margin: 0;
}
.navbar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3px;
  ;
}


.portfolio,
.stocks,
.reits,
.bonds,
.cart {
  padding: 3px 13px 13px 3px;
  color: #333;
  ;
}

.home {
  position: fixed;
  left: 0;
  padding: 0;

 }

.cart {
  font-size: 1.3rem;
  ;
}
.image-home-icon {
  width: 50px;
  color: #333;
}
.Home-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
  align-items: center;
  margin: auto;
  
}
.h1-home {
  font-size: 1rem;
  margin:  25px 25px ;

  ;
}

.home-div-container {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;  
  flex-wrap: wrap;  
  gap: 14px;  
}
.home-div {
  border-radius: 5px;
  min-width: 350px;
  width: 45%;
  height: 150px;
  border: #333 1px solid;
  ;
}