* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-family: "Inter", sans-serif; 

}
.navbar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3px;
}

.portfolio,
.stocks,
.reits,
.bonds,
.cart {
  padding: 3px 13px 13px 3px;
  color: #333;
}

.home {
  position: fixed;
  left: 0;
  padding: 0;
}

.cart {
  font-size: 1.3rem;
}
.image-home-icon {
  width: 50px;
  color: #333;
}
.Home-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.h1-home {
  font-size: 1rem;
  margin: 25px 25px;
}

.home-div-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 14px;
}
.home-link {
  border-radius: 5px;
  min-width: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 0 0 0 14px;
  text-decoration: none;
  font-size: 2rem;
  width: 45%;
  color: white;
  height: 150px;
  border: #333 1px solid;
}
.stocks-home {
  max-width: 450px;
  font-size: 2.4rem;
  background-image: url("./images/stock_background.png");
  background-size: cover;
  background-position: center center;
  object-fit: cover;
}

.portfolio-home {
  max-width: 450px;
  font-size: 2.4rem;
  background-image: url("./images/portfolio_background.png");
  background-size: cover;
  background-size: contain;
  background-position: center center;
  object-fit: cover;
}

.bonds-home {
  max-width: 450px;
  font-size: 2.4rem;
  background-image: url("./images/bonds_background.png");
  background-size: cover;
  background-size: contain;
  background-position: center center;
  object-fit: cover;
}

.reits-home {
  max-width: 450px;
  font-size: 2.4rem;
  background-image: url("./images/reits_background.png");
  background-size: cover;
  background-size: contain;
  background-position: center center;
  object-fit: cover;
}
